PORT=5000
NODE_ENV=development

# MQTT Broker Configuration
MQTT_BROKER_URL=mqtt://localhost:1883
MQTT_USER=agriseal_backend
MQTT_PASSWORD=secret_backend_pass
MQTT_TOPIC_DATA=agriseal/+/data
MQTT_TOPIC_CMD=agriseal/%s/cmd

# Hyperledger Fabric Configuration
FABRIC_CHANNEL=agriseal-channel
FABRIC_CHAINCODE=traceability
FABRIC_WALLET_PATH=./identity/wallet
FABRIC_CONNECTION_PROFILE=./identity/connection-org1.json
FABRIC_USER=admin

# In-Memory / Persistence Mode
USE_MOCK_FABRIC=true

# Security
JWT_SECRET=supersecretagrisealkey2026
CORS_ORIGIN=http://localhost:5173
